
.parent{
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 299;
    font-style: normal;
}

.black-text{
    color: black;
}

.gray-text{
    color: #696969;
    font-weight: 10px;
}

.boxes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.background{
    background-color: #FDFA3D;
    padding: 10px;
    border-radius: 17px;
}

.wallet-img{
    width: 50px;
    height: 50px;
}

.shop-img{
    width: 50px;
    height: 50px;
}

.face-img{
    width: 50px;
    height: 50px;
}

.shop-box{
    margin-right: 75px;
    margin-left: 75px;
}

.box{
    border-bottom: 9px solid #FDFA3D;
}

h3{
    font-size: 25px;
    font-weight: 50;
}

h4{
    margin-bottom: -10px;
}

h1{
    font-size: 45px;
    font-weight: 700;
    word-spacing: 3px;
    margin-bottom: -10px;
}