body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;;
}

.top-bar{
    margin: 0;
    display: flex;
    align-items: center;

    /* Efecto de Sombra (Eje X, Eje Y, Difuminado, Color) */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 14px;
}

.top-bar-logo{
    width: 144px;
    height: 38px;
    margin-left: 70px;
    margin-top: 11px;
}

.nav-bar-items{
    margin-top: 11px;
    margin-left: 110px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1; /* Hace que el contenedor de links ocupe el espacio restante */
}

.nav-bar-items a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 13px;
}


.parent{
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 299;
    font-style: normal;
}

.black-text{
    color: black;
}

.gray-text{
    color: #696969;
    font-weight: 10px;
}

.boxes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.background{
    background-color: #FDFA3D;
    padding: 10px;
    border-radius: 17px;
}

.wallet-img{
    width: 50px;
    height: 50px;
}

.shop-img{
    width: 50px;
    height: 50px;
}

.face-img{
    width: 50px;
    height: 50px;
}

.shop-box{
    margin-right: 75px;
    margin-left: 75px;
}

.box{
    border-bottom: 9px solid #FDFA3D;
}

h3{
    font-size: 25px;
    font-weight: 50;
}

h4{
    margin-bottom: -10px;
}

h1{
    font-size: 45px;
    font-weight: 700;
    word-spacing: 3px;
    margin-bottom: -10px;
}